.story{
    background-color: #FFF !important;
    border-bottom: 1px #ccc solid !important;
}
    .story_title{
        color:#333;
        font-size: 13px;
    }
    .story_author{
        color:#999;
    }
    .story_time{
        float: right;
    }
.story:hover{
    background-color: #fafafa !important;
    cursor: pointer;
}